@font-face {
  font-family: 'DINPro';
  src: 
  url('../font/DINPro.woff') format('woff'),
  url('../font/DINPro.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  }

 