.button
  &--outline-white
    border: 2px solid $white
    font-family: 'DINPro Bold', sans-serif
    font-size: 1.285rem
    background-color: transparent
    color: $white
    padding: 1.142rem 2rem
    transition: color 0.2s
    transition: background-color 0.2s
    cursor: pointer
    &:hover, &:active
      background-color: $white
      color: $orange
  &--outline-dark
    border: 2px solid $dark
    font-family: 'DINPro Medium', sans-serif
    background-color: transparent
    color: $dark 
    padding: 1rem 2.285rem
    transition: color 0.2s
    transition: background-color 0.2s
    cursor: pointer
    &:hover, &:active
      border-color: $orange
      color: $orange
  &--dark  
    border: none  
    font-size: 1.285rem
    background-color: $dark
    color: $white
    padding: 1.285rem 2rem
    transition: color 0.2s
    transition: background-color 0.2s
    cursor: pointer
    &:hover, &:active
      background-color: $orange
  &--grey
    border: none
    width: 100%
    text-decoration: none
    color: $dark
    font-family: 'DINPro Medium', sans-serif
    font-size: 1.142rem
    text-align: left
    background-color: $greybg 
    padding: 1.428rem 0 1.428rem 1.428rem
    border-radius: 5px
    box-shadow: 0px 1px 1px 0px rgba(#575757, 0.6)
    transition: color 0.2s
    transition: background-color 0.2s
    cursor: pointer
    &:hover
      color: $white
      background-color: $orange
      box-shadow: 0px 1px 1px 0px rgba(#575757, 0.1)
  &--orange
    border: none
    color: $white
    background: $orange
    font-size: 1.285rem
    padding: 1.428rem 2.142rem 1.428rem 1.428rem 
    transition: color 0.2s
    transition: background-color 0.2s
    cursor: pointer
    &:hover
      background: rgba($orange, 0.8)  



.section-title
  display: flex
  align-items: center
  justify-content: center
  &__heading
    font-family: 'DINPro Light', sans-serif  
    font-size: 2.571rem
    color: $dark
    text-align: center
    font-weight: 300
    padding: 0 3.571rem
    margin: 0
  &::before
    content: ''
    width: 32.857rem
    height: 1px
    background: linear-gradient(to left, $aftergrey, $white)
  &::after
    content: ''
    width: 32.857rem
    height: 1px
    background: linear-gradient(to left, $white, $aftergrey)
#border-left, #border-right
  width: 0
  height: 0
  border-top: 7px solid $aftergrey
  border-right: 1px solid $aftergrey
  border-bottom: 7px solid $aftergrey  
    

.card
  display: flex
  align-items: flex-start
  flex-direction: column
  &__discount-tag 
    font-size: 2.142rem
    color: $white
    background-color: $orange
    padding: 0.6rem 0.5rem
    position: absolute
    margin-top: 1.071rem
    margin-left: -0.8rem
    z-index: 99
    &::before
      content: ''
      margin-top: 3.05rem
      margin-left: -0.4rem
      border-top: 6px solid #ffd1b0
      border-left: 10px solid transparent
      position: absolute
  &__image
    background: $cardbg
    max-width: 22.857rem
    max-height: 22.857rem
    display: flex
    align-items: center
    justify-content: center
    position: relative
    &-overlap
      display: flex
      flex-direction: column
      align-items: flex-end
      &-wrap
        position: absolute
        display: none
        left: 0
        bottom: 0
        right: 0
        top: 0
        font-size: 1.428rem
        background: rgba(0,0,0, 0.6)
        padding: 1.428rem
      &--white
        color: $white
        margin-bottom: 1.285rem
        cursor: pointer
      &--orange 
        color: $orange 
        cursor: pointer 
    &:hover .card__image-overlap-wrap
      display: block
  &__description  
    display: flex
    align-items: flex-start
    flex-direction: column
    padding: 2rem 0 2.142rem 1.428rem
  &__name
    font-size: 1.285rem
    color: $dark
    text-decoration: none  
    margin-bottom: 0.6rem
  &__category
    color: $greyfooter  
    font-family: 'DINPro Light', sans-serif
    text-decoration: none
    margin-bottom: 1.2rem
  &__rating
    font-size: 1rem
    color: $grey
    &__star
      margin-left: 0.357rem
      &--orange  
        color: $orange
      &--lightgrey
        color: $grey  
  &__price
    font-size: 2.142rem
    &-old
      font-size: 1.285rem
      text-decoration: line-through
    &-tag
      width: 100%
      display: flex
      justify-content: space-between
      align-items: center
      padding: 1.7rem 2.1rem 0 1.3rem
      border-top: 1px solid $aftergrey
      &-old
        padding: 0.8rem 0 0 1.428rem
        color: $grey
  &__currency
    font-size: 1.142rem  
    &-old
      font-size: 1.142rem  
  &__add-icon
    font-size: 1.714rem
    color: $grey
    cursor: pointer
    &:hover
      color: $dark  

.page-hierarchy
  font-size: 1.142rem
  font-family: 'DINPro Light', sans-serif
  &--dark
    color: $dark
    margin-right: 1.07rem
    &::after
      content: ''
      width: 1px
      height: 1.07rem
      background-color: $greyfooter
      margin-left: 1.07rem
      display: inline-block
  &--grey  
    color: $grey

.card-navigation
  padding: 4.285rem 0

// ____________________________________

.rating
  &-group
    & input[type="radio"] 
      display: none 
  &-label
    float: right
    display: block
    margin-right: 0.357rem
    &::before
      cursor: pointer
      display: block
      content: '\f005' 
      font-family: 'Font Awesome 5 Free', 'Font Awesome 5 Brands'
      font-weight: 400
      font-size: 1rem
      color: $grey
.rating-group .rating-label:hover, .rating-group .rating-label:hover ~ .rating-label,.rating-group input[type="radio"]:checked ~ .rating-label
  &::before
    font-weight: 900
    color: $orange    






     
