@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
  .col-24
    flex-basis: 19%
  .application__title
    max-width: 70rem
    font-size: 4rem
  .application__imge
    flex-basis: auto
  .reclame__image
    margin-top: 5rem
    margin-bottom: -8rem
         

@media screen and ( max-width: 1650px)
  .view-product__main-image
    width: auto
    height: 39.285rem

@media screen and ( max-width: 1450px)
  .section-title__heading
    width: 36rem  

@media screen and ( max-width: 1400px)
  .view-product__button
    padding: 1.2rem 1rem 1.2rem 1rem  
  .view-product__button-last  
    padding: 1.2rem 1rem

@media screen and ( max-width: 1300px)
  html
    font-size: 12px  
  #boy, #bag, #girl
    max-height: 17rem 
  .uniform__section-title__heading
    font-size: 1.3rem   
    padding: 2.4rem 1rem 
  .uniform__button 
    padding: 0.9rem 1rem 
  .application
    height: auto    
  .info__nav__item
    margin-right: 1.5rem    

@media screen and ( max-width: 1250px)
  .reclame__info    
    margin-right: 18rem
  .info__nav__item
    margin-right: 1rem  
  .uniform__inform
    padding: 3.5rem 1rem 0 0   
  .application__imge  
    height: auto

@media screen and ( max-width: 1150px)
  .view-product__button
    padding: 1.2rem 0.5rem  
    font-size: 1rem
  .view-product__button-last  
    padding: 1.2rem 0.5rem
    font-size: 1rem
  .view-product__other-icon
    margin-left: 0.3rem  

@media screen and ( max-width: 1100px)  
  .uniform__section-title__heading
    font-size: 1rem
  .uniform__title
    font-size: 1.3rem    
  .application__title
    font-size: 4rem    
  .section-title__heading
    padding: 0   


@media screen and ( max-width: 1000px)
  .reclame__info    
    margin-right: 20rem     
  .info__nav
    font-size: 1rem     
  .info__nav__select
    font-size: 1rem  

@media screen and ( max-width: 991px)     
  .application
    display: none    
  .categories__row, .popular__row, .discounts__row, .offer__row, .product-detail__row
    flex-direction: column  
  .uniform__row
    flex-wrap: wrap
    justify-content: space-around  
  .product-detail__row
    align-items: center
    justify-content: center
  .product-detail__content
    margin-bottom: 3rem    
  .uniform__wrap
    flex-direction: row
    width: 320px
    margin-bottom: 1.5rem  
  .categories__col-23
    width: 50%
  .categories__wrap, .card
    margin-bottom: 3rem
  .hero__title
    max-width: 100%
  .hero__swiper-container
    margin-left: 0  
  .hero__row 
    flex-wrap: wrap
    justify-content: center
    align-items: center
  .hero__col-35
    flex-basis: 100%  
  .reclame
    justify-content: center
    width: 100%
    min-height: auto
  .col-70
    flex-basis: 90%
  .reclame__info
    margin-right: -5rem
  .reclame__image
    width: auto  
  .hero__contacts
    display: none  
  .footer__wrap
    flex-wrap: wrap     
  .footer__col-23
    flex-basis: 100%
    margin-bottom: 1.5rem
  .about__sublitle
    margin-bottom: 0.5rem
  .mobile-app__image
    width: 100%
    height: 100%    
  .menu-btn
    display: block 
    position: absolute
    right: 35px
    top: 40px 
    width: 30px
    height: 2px
    background-color: $dark
    border: none
    z-index: 199
    &::before
      content: ''
      display: block
      position: absolute 
      left: 0
      top: 0 
      width: 30px
      height: 2px
      background-color: $dark
      margin-top: -7px
      transition: transform 0.2s
    &::after
      content: ''
      display: block 
      position: absolute
      left: 0
      top: 0 
      width: 30px
      height: 2px
      background-color: $dark
      margin-top: 7px
      transition: transform 0.2s
    &-active
      height: 0
      &::before
        transform: rotate(45deg)
        margin-top: 0
      &::after
        transform: rotate(-45deg)
        margin-top: 0
  .header
    display: none
    flex-direction: column
    position: absolute
    top: 0
    right: 0
    background: $white
    border: 1px solid $grey
    width: 250px
    padding-bottom: 40px
    z-index: 99
    &-active
      display: flex
  .menu, .network, .network__nav, .info, .info__nav
    display: flex
    flex-direction: column
    align-items: flex-start
  .menu__logo--little, .menu__logo-wrap
    display: none  
  .menu__logo-wrap-mobil
    display: flex
    align-items: center  
    margin-top: 2rem  
  .network__nav
    &__item
      &::after
        content: ''
        display: none  
  .network__nav
    &__icon
      display: none
    &__item
      display: flex
      flex-flow: row-reverse
      margin-bottom: 1rem
      &-icon  
        margin-right: 0.5rem  
  .entry__item
    font-size: 1.5rem
    color: $orange 
  .buy__wrap
    flex-direction: row
    margin-right: 1rem
  .favorites, .basket
    background: none
    width: auto
    height: auto     
  .info__nav__item
    margin-bottom: 1rem  
  .basket__text, .favorites__text
    color: $orange
    margin-right: 0.5rem
  .catalog__row
    flex-direction: column 
    align-items: center
    justify-content: center 
  .catalog__col-23
    width: 300px  
  .product-categories__wrap
    display: none
  .product-categories__wrap--active  
    display: block
  .product-categories__title
    text-align: center
    color: $white
    background: $orange
    font-size: 1.285rem
    padding: 1rem
    box-shadow: 0px 1px 1px 0px rgba(#575757, 0.1) 
    border-radius: 5px
    & h2 
      margin: 0
  .catalog-header 
    margin-bottom: 2rem 
  .card-navigation
    padding: 6rem 0 1rem 0    
  .view-product__row
    flex-direction: column  
    justify-content: center
    align-items: center
  .view-product__about-product
    margin-top: 1rem    
  .offer__section-title__heading
    min-width: auto
    font-size: 2rem  
  .button
    &--outline-white  
       &:hover, &:active
        background-color: transparent
        color: $white
    &--outline-dark  
      &:hover, &:active
        border-color: transparent
        color: $dark  
    &--dark 
      &:hover, &:active
        background-color: $dark
    &--grey  
      &:hover
        color: $dark
        background-color: $greybg
        box-shadow: 0px 1px 1px 0px rgba(#575757, 0.6)
    &--orange  
      &:hover
        background: $orange
  .card__add-icon    
    &:hover
      color: $grey   
  .view-product
    &__preview
      &-image      
        &:hover
          border: 1px solid $aftergrey
        &--active
          border: 1px solid $aftergrey 
    &__other 
      &-icon
       &:hover
        color: $grey     
  .services
    &__swiper
      &-button-prev, &-button-next
        &:hover
          background-color: $white
          border: 1px solid $greybtn
          color: $greybtn
  .card-platform  
    &__title
      &:hover
        color: $dark   
  .offer    
    &__swiper  
      &-button-prev, &-button-next   
        &:hover
          background-color: $white
          border: 1px solid $greybtn
          color: $greybtn  
  .offer__row
    max-width: 320px
  .card__image
    max-width: 30rem
  .services__row 
    max-width: 320px

  .hero  
    &__swiper   
       &-button-prev, &-button-next  
         &:hover
          background-color: transparent
          border: 1px solid $greybtn
          color: $greybtn   
  .network   
     &__nav
      &__icon
        &:hover
          opacity: 0.5   
      &__item
        &:hover, &:active
          color: $grey  
  .info    
     &__nav
      &__item
        &:hover 
          color: $dark  
      &__icon   
        &:hover, &:active
          color: $dark   
  .entry
    &__item     
      &:hover, &:active
        color: $dark
  .about    
    &__icon
      &__item
        &:hover, &:active
          color: $grey 
  .information
    &__list
      &__item
        &:hover, &:active
          color: $greyfooter   
  .report
    &:hover, &:active
      color: #757575         
  .product-detail
    &__tablinks
       &:hover
        background-color: $white
  .categories      
    &__link
      &:hover
        color: $dark
        background-color: $greybg
        box-shadow: 0px 1px 1px 0px rgba(#575757, 0.6)
  .product-categories  
     &__item    
       &:active
        &:hover
          color: $grey
          text-decoration: none 
  .product-list        
    &__pages
      &-number
         &:hover
          color: $dark
          border: 2px solid $dark
      &-next
        &:hover
          color: $white
          border: none
          background:  $orange    
  .page-hierarchy
    display: none        



  
@media screen and ( max-width: 750px)  
  .view-product__row
    flex-direction: column  
    justify-content: center
    align-items: center
  .view-product__col-40
    margin-right: 0
    margin-bottom: 3rem 
    flex-basis: 100%
  .view-product__col-60
    flex-basis: 100%   
  .product-detail__col-80
    margin-right: 0
    flex-basis: 100%     
  .container
    width: 99%       
  .timer-wrap--dashed
    width: 10rem
    height: 10rem  
  .timer-wrap--solid
    width: 9rem
    height: 9rem
  .timer__title 
    font-size: 1.5rem
  .timer__hour
    font-size: 3rem   
  .information__list__item
    margin-bottom: 0.5rem
  .contacts__telephone
    font-size: 1rem
  .mobile-app__button
    padding: 1rem
  .contacts
    align-items: flex-start 
  .menu
    margin-left: 1rem   

@media screen and ( max-width: 650px) 
  .product-detail__tablinks
    padding: 1rem 0.5rem
    font-size: 1rem
  .product-list__row
    flex-direction: column
    align-items: center
    justify-content: center 
    margin-bottom: 2rem
  .col-34
    margin-left: 0
    padding: 0 1rem   
    margin-bottom: 2rem
  .uniform__section-title  
    min-width: 300px
    &::before
      content: ''
      max-width: 5rem
    &::after  
      content: ''
      max-width: 5rem


  

@media screen and ( max-width: 550px)  
  .reclame__info
    margin-right: -7rem     
  .color-form, .delivery-tabcontent__pickup
    flex-wrap: wrap  
  .delivery-form-group
    margin-bottom: 1rem  
  .copyright__row
    flex-direction: column
    justify-content: center  
  .copyright
    margin-bottom: 1rem  
  .section-title__heading
    width: 100rem  


@media screen and ( max-width: 500px)  
  .timer-wrap--dashed
    width: 6rem
    height: 6rem  
  .timer-wrap--solid
    width: 5rem
    height: 5rem
  .timer__title 
    font-size: 1rem
  .timer__hour
    font-size: 2rem   
  .filter__select-sum  
    width: 22.857rem
    background-position: 94% 50%
  .filter__group
    margin-left: 0  

@media screen and ( max-width: 550px)  
  .reclame__info
    margin-right: -9rem     
    margin-top: 0   

@media screen and ( max-width: 500px)       
  .catalog-header, .filter__form
    display: flex
    flex-direction: column
  .filter__group, .page-hierarchy
    margin-bottom: 1rem  
  .view-product__other-text__wrap
    display: flex
    flex-direction: column  
  .product-detail__tabcontent
    height: 33rem  
  .footer__logo-name__title
    font-size: 1.5rem  
  .logo-name__subtitle
    font-size: 0.8rem  
  .footer__wrap
    justify-content: space-around
  .footer__col
    margin-bottom: 2rem    

@media screen and ( max-width: 440px)  
  .view-product__button-icon
    display: none
  .delivery-tabcontent
    height: 160px
  .view-product__preview-image
    width: auto    

@media screen and ( max-width: 400px)        
  .mobile-app__button
    padding: 1rem 0.3rem 
  .section-title__heading
    font-size: 2rem 
    width: 95rem
  .categories__col-23
    width: 80%    

@media screen and ( max-width: 360px)  
  .footer__col, .footer__col-23
    flex-basis: 100%
    margin-bottom: 1rem
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center 
  .mobile-app__image
    width: auto
    height: auto         
  .information__list__item
    text-align: center  
  .about
    margin-right: 0  
  #pages-number-3, #pages-number-4
    display: none  
  .card
    max-width: 280px  

        
   