.application
  width: 100%
  height: 33.642rem
  background: $orange url('../img/application_bg.png') no-repeat center / cover
  padding: 2.142rem 0 0 0
  margin-bottom: 6.6rem
  &__container
    height: 100%
  &__row
    height: 100%
    position: relative
  &__info
    display: flex
    flex-direction: column
    align-items: flex-start
    margin-top: -2.1rem
    max-width: 104rem
  &__title
    font-size: 5.142rem
    font-family: 'DINPro Bold', sans-serif
    text-transform: uppercase
    color: $white
    margin: 0
    margin-bottom: 1rem
  &__subtitle
    color: $white
    font-size: 2.142rem  
    margin-bottom: 2.8rem
  &__imge
    flex-basis: 40%  
    height: 441px
    bottom: 0
    right: 0
    // position: absolute
  &__button
    &__icon 
      font-size: 0.6rem
      margin-left: 0.6rem  

