.catalog
  padding-top: 4.285rem
  &-header
    margin-bottom: -0.5rem
  &__row
    display: flex
    justify-content: space-between
    
    

.product-categories
  &__title 
    color: $dark
    font-family: 'DINPro Light', sans-serif  
    font-size: 1.17rem
    & h2 
      font-weight: normal
  &__wrap
    border-top: 1px solid $aftergrey 
    padding-top: 2.142rem
  &__button
    margin-bottom: 0.714rem
    &-wrap
      display: flex
      flex-direction: column
    &__icon
      font-size: 1.285rem
      margin-right: 1.571rem
  &__list
    padding: 0
    margin: 0
    margin-top: 1.3rem    
  &__item
    list-style-type: none
    font-size: 1.142rem
    font-family: 'DINPro Medium', sans-serif  
    color: $dark
    cursor: pointer
    margin-bottom: 1.4rem
    &:active
      color: $grey
    &:hover
      color: $orange
      text-decoration: underline 

.product-list
  margin-bottom: 6.6rem
  &__row 
    display: flex 
    margin-bottom: 5.714rem  
  &__footer
    display: flex
    justify-content: center
    flex-direction: column  
    margin-top: -2rem
  &__title
    color: $grey
    font-family: 'DINPro Light', sans-serif  
    font-size: 1.142rem
    margin: auto
    display: inline-block
    margin-bottom: 2.142rem
    & strong
      font-weight: normal
      font-family: 'DINPro Bold', sans-serif
  &__pages
    display: flex
    justify-content: center    
    &-number
      width: 3.214rem
      height: 3.214rem
      border: 2px solid $dark
      display: flex
      align-items: center
      justify-content: center
      color: $dark
      font-family: 'DINPro Medium', sans-serif
      font-size: 1rem
      background: transparent
      cursor: pointer
      margin-right: 0.714rem
      &:hover
        color: $orange
        border-color: $orange
      &--active
        background-color: #e7e7e7
        border: none
        &:hover
          color: $dark
    &-next
      width: 3.214rem
      height: 3.214rem
      display: flex
      align-items: center
      justify-content: center
      color: $white
      font-family: 'DINPro Medium', sans-serif
      font-size: 1rem
      background: $orange
      cursor: pointer
      &:hover
        color: $orange
        border: 2px solid $orange
        background: transparent


.filter
  &__form  
    display: flex
    justify-content: space-between
  &__group
    display: flex
    justify-content: flex-start
    flex-direction: column  
    margin-left: 2.142rem
  &__label
    font-size: 1rem
    color: $grey
    margin-bottom: 0.642rem  
  &__select
    border: 1px solid $ligtgray
    border-radius: 0 
    padding-left: 1.428rem
    cursor: pointer
    &-date
      width: 22.857rem
      height: 3.214rem
      -webkit-appearance: none
      background: transparent url('../img/chevron-down-solid.svg') no-repeat 
      background-size: 11px
      background-position: 94% 50%
    &-sum   
      width: 14.285rem
      height: 3.214rem
      -webkit-appearance: none
      background: transparent url('../img/chevron-down-solid.svg') no-repeat 
      background-size: 11px
      background-position: 91% 50%
  &__option  
    color: $dark
    font-size: 1rem
    cursor: pointer
    
   




      
      



