.footer
  margin-top: 6.6rem
  &--gray
    background: $greybg
  &--dark
    background: $darkbg
    padding: 1.642rem 0
  &__wrap
    display: flex
    justify-content: space-between
    align-items: flex-start
    flex-wrap: nowrap  
    padding: 4.1rem 0 2.8rem 0

.about
  margin-right: 1.5rem
  &__title
    font-size: 1.28rem
    color: $dark
    line-height: 1.3
  &--bold
    font-family: 'DINPro Bold', sans-serif
  &__sublitle
    font-size: 1rem 
    margin: 0 
    margin-bottom: 2.5rem
    margin-top: 1.5rem
    line-height: 1.3
  &__icon
    font-size: 0.857rem  
    cursor: pointer
    text-decoration: none
    &__item
      margin-right: 1rem
      color: $grey
      &:hover, &:active
        color: $dark

.mobile-app  
  &__title
    font-size: 1.28rem
    color: $dark 
  &__image  
    margin-bottom: 0.428rem
    width: 175px
    height: 62px
    margin-top: 2rem
    &:last-of-type
      margin-top: 0
      margin-bottom: 2.142rem
  &__button
    &__icon  
      font-size: 0.6rem
      margin-left: 0.6rem   

.information
  &__list
    cursor: pointer
    padding: 0
    margin: 0
    &__item
      list-style-type: none
      text-transform: uppercase
      font-size: 0.857rem
      color: $greyfooter
      margin-bottom: 1.5rem
      &:hover, &:active
        color: $dark
        
.contacts
  display: flex
  align-items: flex-end
  flex-direction: column
  &__logo
    margin-right: 1.07rem 
    &-wrap
      margin-bottom: 2.1rem
  &__telephone
    font-size: 1.714rem
    text-decoration: none  
    color: $dark
    margin-bottom: 0.8rem
  &__mail
    text-decoration: none
    color: $greyfooter
    font-size: 1.142rem
    margin-bottom: 5.7rem

.copyright
  color: #f0f0f0
  font-family: 'DINPro Light', sans-serif

.report
  color: #757575  
  font-family: 'DINPro Light', sans-serif
  &:hover, &:active
    color: $greyfooter
