.services
  &__section-title
    margin-bottom: 2.857rem
  &__row
    margin-bottom: 4.285rem  
  &__swiper
    &-button-prev, &-button-next
      font-size: 2.257rem
      color: $greybtn
      width: 45px
      height: 45px
      border: 1px solid $greybtn
      display: flex
      align-items: center
      justify-content: center
      margin: auto
      &:hover
        background-color: $dark
        border: 1px solid $dark
        color: $white
.card-platform
  display: flex
  align-items: flex-start
  flex-direction: column
  &__image
    margin-bottom: 1.357rem
  &__title
    color: $dark
    font-size: 1.285rem
    text-decoration: none
    margin-bottom: 1rem
    &:hover
      color: $orange
  &__link
    text-decoration: none
    font-family: 'DINPro Light', sans-serif
    color: $greyfooter    

    
.swiper-wrapper
  width: 100%
  height: 100%  

.swiper-slide 
  text-align: center
  font-size: 18px
  background: #fff
  /* Center slide text vertically */
  display: -webkit-box
  display: -ms-flexbox
  display: -webkit-flex
  display: flex
  -webkit-box-pack: center
  -ms-flex-pack: center
  -webkit-justify-content: center
  justify-content: center
  -webkit-box-align: center
  -ms-flex-align: center
  -webkit-align-items: center
  align-items: center

    
